<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.server.model.dao.ContentMapper">
    <select id="selectContent" parameterType="int" resultType="Content">
        SELECT *
        FROM contents
        WHERE content_id = #{contentId}
    </select>

    <select id="selectTodayContent" resultType="Content">
        SELECT *
        FROM contents
        ORDER BY created_at DESC
        LIMIT 3
    </select>

    <select id="selectAllContent" resultType="Content">
        SELECT *
        FROM contents
    </select>
</mapper>