<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.server.model.dao.DiaryMapper">
    <select id="selectAllDiaries" parameterType="int" resultType="Diary">
        SELECT
        dp.*,
        MIN(di.file_path) AS file_path
        FROM
        diary_posts dp
        LEFT JOIN
        diary_images di
        ON
        dp.diary_id = di.diary_id
        WHERE
        dp.user_id = #{userId}
        GROUP BY
        dp.diary_id;
    </select>

    <select id="selectDiary" parameterType="int" resultType="Diary">
        SELECT diary_id, A.user_id, title, body, A.created_at, study_content, nickname
        FROM diary_posts A inner join users B ON A.user_id=B.user_id
        WHERE diary_id = #{diaryId}
    </select>

    <select id="selectDiaryImage" parameterType="int" resultType="String">
        SELECT file_path
        FROM diary_images
        WHERE diary_id=#{diaryId}
    </select>

    <delete id="deleteDiary" parameterType="int">
        DELETE FROM diary_posts
        WHERE diary_id = #{diary_id}
    </delete>

    <insert id="insertDiary" parameterType="Diary" useGeneratedKeys="true" keyProperty="diaryId">
        INSERT INTO diary_posts
        (title, body, study_content, user_id)
        VALUE (#{title}, #{body}, #{studyContent}, #{userId})
    </insert>


    <insert id="insertDiaryImage" parameterType="diaryImage" useGeneratedKeys="true" keyProperty="diaryImageId">
        INSERT INTO diary_images (diary_id, file_path, created_at)
        VALUES (#{diaryId}, #{filePath}, #{createdAt})
    </insert>

    <update id="updateDiary" parameterType="Diary">
        UPDATE diary_posts
        SET title=#{title}, study_content=#{studyContent}, body=#{body}
        WHERE user_id=#{userId} AND diary_id=#{diaryId}
    </update>

</mapper>